.portalLogic {
  .tab {
    text-align: center;
    font-size: 1.5rem;
    .view-shipments {
      display: grid;
      grid-template-columns: 30% 40%;
      gap: 5%;
      position: relative;
      left: 10%;
      top: 30%;
      .customer-image {
        height: 80%;
      }
      .customer-info {
        height: 80%;
        padding-top: 10%;
      }
    }
    .update-shipment,
    .delete-shipment {
      margin-top: 3%;
    }
  }
}
